<% provide :title, t("layouts.header.nav.home") %>
<div class="center jumbotron">
  <h1><%= t(".welcome") %></h1>
  <h2><%= t(".introduction") %>
    <%= link_to t("topic"), "http://www.railstutorial.org/" %>.
  </h2>
  <%= link_to t(".sign_up_now"), "#", class: "btn btn-lg btn-primary" %>
</div>
